body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
}

nav{
  -webkit-app-region: drag;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-item{
  -webkit-app-region: no-drag;
}

.minimize-window:hover{
  cursor: pointer;
}

.close-window:hover{
  cursor: pointer;
  color:red;
}

.login{
  margin: 3em;
}

#container{
  margin: 5%;
  margin-top: 1.5%;
}

#container h3{
  color: #f9f9f9;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.card{
  border-radius: 10px;
  margin-bottom: 1.5em;
  box-shadow: 0 12px 24px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.content{
  text-align: center;
}

.chooseItem:hover{
  color: #339af0;
  cursor: pointer;
}

.configcard{
  max-height: 600px;
  overflow-y: auto;
}

.components{
  margin-top: 10px;
  max-height: 600px;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c3e50; /* #bdc3c7 */
  border-radius: 3px;
  box-shadow: inset 1px 1px 5px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #34495e; 
}

